@using PokeBuilderMAUI.Shared.Models

@code {
    //PKList shoul directly import the team of pokemon the user has made.
    [Parameter]
    public Pokemon[] PKList { get; set; } = new Pokemon[6];

    //teamCount will be used to iterate through the list of pokemon in the team.
}
<div class="card-group border-light mb-3">
    @foreach(Pokemon pokemon in PKList){
        if (pokemon != null)
        {
            <div class="card bg-dark text-light border-5 border-secondary" style="width: 18rem;">
                <img src="@pokemon.Image" style="width: 10rem;" class="card-img-top" alt="image of @pokemon.Name">
                <div class="card-body">
                    <p class="card-title fw-bold h3">@pokemon.Name</p>
                    <p>@pokemon.NationalDexNumber</p>
                    <p>@pokemon.Primary</p>
                    @if (pokemon.Secondary != Models.Type.TYPELESS)
                    {
                        <p>@pokemon.Secondary</p>
                    }
                    <p>@pokemon.Ability</p>
                    <p>@pokemon.Move1</p>
                    <p>@pokemon.Move2</p>
                    <p>@pokemon.Move3</p>
                    <p>@pokemon.Move4</p>
                    <p>HP: @pokemon.BaseHealth</p>
                    <p>ATK: @pokemon.BaseAttack</p>
                    <p>DEF: @pokemon.BaseDefense</p>
                    <p>SPATK: @pokemon.BaseSpAttack</p>
                    <p>SPDEF: @pokemon.BaseSpDefense</p>
                    <p>SPD: @pokemon.BaseSpeed</p>
                    <a @onclick="OnEditClick" href="#" class="btn btn-secondary">Edit</a>
                    <a href="#" class="btn btn-danger">Remove</a>
                </div>
            </div>           
        }
    }
</div>

@code
{
    private void OnEditClick()
    {

    }
}

