@using PokeBuilderMAUI.Shared.Models

@code {
    private Pokemon? pokemon = new Pokemon(false);
}
<!--Modified the pokemon partial to fit all the data inside of a bootstrap card for styling purposes. 
    Will display the pokemon object in a cleaner and more readable way.
-->
<div class="card bg-dark text-light border-5 border-secondary" style="width: 18rem;">
    <img src="@pokemon.Image" class="card-img-top" alt="Photo of @pokemon.Name">
    <div class="card-body">
        <div class="model-name card-title h3 fw-bold">
            <label>@pokemon.Name  NO.@pokemon.Id</label>
        </div>
        <hr class="border border-primary" />
        <div class="model-ability h5">
            <label>Ability: @pokemon.Ability</label>
        </div>
        <hr class="border border-primary" />
        <div class="model-types card-subtitle">
            <label>TYPE: @pokemon.Primary</label>
            @if (pokemon.Secondary != Models.Type.TYPELESS)
            {
                <label>@pokemon.Secondary</label>
            }
        </div>
        <hr class="border border-primary" />
        <div class="list-group text-light">
            <div>@pokemon.Moves[0]</div>
            <div>@pokemon.Moves[1]</div>
            <div>@pokemon.Moves[2]</div>
            <div>@pokemon.Moves[3]</div>
        </div>
        <hr class="border border-primary" />
        <div class="model-stats card-text">
            <div class="stats-top">
                <label><label class="text-success">HP: </label>@pokemon.BaseHealth</label>
                <label><label class="text-danger">ATK: </label>@pokemon.BaseAttack</label>
                <label><label class="text-primary">DEF: </label>@pokemon.BaseDefense</label>
            </div>
            <div class="stats-bottom">
                <label><label class="text-success">SPD: </label>@pokemon.BaseSpeed</label>
                <label><label class="text-danger">SPATK: </label>@pokemon.BaseSpAttack</label>
                <label><label class="text-primary">SPDEF: </label>@pokemon.BaseSpDefense</label>
            </div>
        </div>
    </div>
</div>